#about

{
 padding: 8px;
 text-align:center;
 #border:1px;
 #background:#B5A789;

}


#info
{
margin-top:10%;
margin-left:20%;
 margin-right:10%;


}

 a:link
{
color:               #310906;
}

 a:visited
{
color:               #310906;
}