 body {
   
	 #background: 	url("../images/wood5.gif");
     margin-left: 10%;
     margin-right: 10%;
     border: none;
     padding: 10px 10px 30px 10px;
	 font-family:      Georgia, "Times New Roman", Times, serif;
     #font-family: Cursive,Comic Sans;
	 font-size: medium;
    } 
	
	#fmenu{
	background-color: #D71E00;
	border-radius: 15px;
	border-top: solid #310906;
	border-bottom:  solid #310906;
	border-width:8px;
	word-spacing:155px;
	#color:            #efe5d0;
    text-align:       center;
	padding:          7px;
	font-family: "Century Gothic";
	margin:           9px 0px 0px 0px;
	font-size:        170%;
  
}


/* Drop shadow on all sides */
.box-shadow{
	box-shadow: 0 0 20px #333; /* all latest browser */
   -moz-box-shadow: 0 0 15px #333; /* Firefox older version*/
   -webkit-box-shadow: 0 0 10px #333; /* Chrome/Safari older version */
}

/* Drop shadow on bottom */
.box-shadow-one-side{
	box-shadow: 0 10px 10px -6px #333; /* all latest browser */
   -moz-box-shadow: 0 10px 10px -6px #333; /* Firefox older version*/
   -webkit-box-shadow: 0 10px 10px -6px #333; /* Chrome/Safari older version */
}

/* Drop shadow on bottom and right side */
.box-shadow-two-side{
	box-shadow: 6px 6px 10px #333; /* all latest browser */
   -moz-box-shadow: 6px 6px 10px #333 inset; /* Firefox older version*/
   -webkit-box-shadow: 6px 6px 10px #333 inset; /* Chrome/Safari older version */
}


#scroll
{
  margin-top: 50%;

  padding: 15px;
  font-size: 150%;
  	 color: #FFFFFF;
	 background: 	url("../images/wood5.gif");
	 border-radius: 15px;
	 border-top: solid #310906;
	border-bottom:  solid #310906;
	border-width:8px;
	line-height: 1.5;
	#text-align: center;

  
}


#ph{

     line-height: 1.8;
	 text-align:center;
	 font-size: 100%;
	 color: #FFFFFF;
	 background: 	url("../images/wood5.gif");
	 border-radius: 15px;
	 border-top: solid #310906;
	border-bottom:  solid #310906;
	border-width:8px;
	
	
}

h1{
color: #000000;
}


#ticket{
  position:         absolute;
  top:              1200px;
  left:             300px;
  z-index:          99;
}

#arrow{
  position:         absolute;
  top:              1230px;
  left:             570px;
  z-index:          99;
}

#gbox{
  position:         absolute;
  top:              1140px;
  left:             690px;
  z-index:          99;
}









a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover{ border-radius:5px;}

#fmenu a:link {
  color:               #FFFFFF;
}

#fmenu a:hover {
  background:          #FFFFFF;
  color:               #000000;
}

#fmenu a:visited {
  background:          #FFFFFF;
  color:               #000000;
}
